<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>remindMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>901534FE1C03AE7300E0BC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>901535171C03AE7300E0BC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>901535221C03AE7400E0BC9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
